# Framework de desarrollo.
Django==3.0

# Herramientas para crear interfaces bajo el estándar REST.
djangorestframework==3.11.0
django-filter==2.3.0

# Librería con herramientas para django.
django-extensions==2.2.9

#Librería para el cargue de variables de entorno del archivo .env.
django-dotenv==1.4.2

# Libreria para debugear
ipdb==0.13.2

# Librería para Linting.
flake8==3.7.9

# Pandas
pandas==1.0.5

# JWT
pyjwt==1.7.1

#Linting of coe
pylint==2.5.3

#Sqlalchemy
sqlalchemy==1.3.18
